:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --swatch-foundation: #ffffff; 
  --swatch-primary: #e6e6e6; 
  --swatch-complement: #98A8F8;
  --swatch-contrast: #BCCEF8; 
  --swatch-accent: #4649FF; 
  --swatch-status: #2D2CB5;
  --swatch-banner: #C47AFF;
  --swatch-heading: #7978FF;
  --my-font-family: "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-image: url(https://wallpapersmug.com/u/c527a8/night-mountain-synthwave-and-retrowave.jpg);
  background-size: auto;
  overflow: hidden;
}

#root {
  background-color: var(--swatch-banner);
  font-family: 'Tangerine', serif;
  position: absolute;
  width: 80%;
  left: 10%;
  height:90%;
  top: 5%;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  border-radius: 10pt;
  overflow: hidden;
}

#playlister-banner {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align:center;
  background-color: var(--swatch-banner);
  color: white;
  font-size: 54pt;
  /* border-color: #742AAF; */
  /* border-width: 2px; */
  /* border-style: solid; */
  border-radius: 10px;
  padding-top: 4pt;
  font-weight: bold;
}

#playlister-selector {
  display: grid;
  font-size: 36pt;
  background-color: var(--swatch-accent);
  border-radius: 10px;
  grid-template-rows: 13% 77% 10%;
}

.playlist-selector-north {
  /* grid-column: 1 / 1; */
  /* grid-row: 1 / 2; */
  font-size: 36pt;
  background-color: var(--swatch-heading);
  /* border-color: #2928AF; */
  /* border-width: 2px; */
  /* border-style: solid; */
  border-radius: 10px;
  padding-top: 5pt;
  color: white;
  font-weight: bold;
}


#playlister-selector-heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  float: left;
  padding: 15pt;
  font-size: 36pt;
}

/* #add-list-button { */
  /* grid-column: 1 / 2;
  grid-row: 2 / 2;
  font-size: 36pt; */
  /* border-width: 0px;
  /* padding: 5pt; */
  /* font-size: 32pt; */
  /* float: right; */
  /* border-color: black; */
  /* border-style: solid; */
  /* border-radius: 5px; */
  /* color: black; */
  /* cursor: pointer;
  opacity: 100%; */
  /* float: right; */
/* } */

.playlister-selector-button {
  font-size:36pt;
  border-width: 0px;
  text-align: center;
  /* border-color: black; */
  /* border-style: solid; */
  border-radius: 5px;
  color: black;
  cursor: pointer;
  opacity: 100%;
  width: 100%;
  height: 100%;
  padding: 5pt;
  /* padding-bottom: 5pt; */
}

#playlist-cards {
  /* grid-column: 2 / 3;
  grid-row: 3 / 4; */
  /* display: flex; */
  flex-direction: column;
  overflow: scroll;
  background-color: var(--swatch-accent);
  border-radius: 10px;
  overflow-x: hidden;
}

.playlister-button, .playlister-button-disabled {
  font-size:36pt;
  /* border-width: 1px; */
  /* border-color: black; */
  /* border-style: solid; */
  /* box-shadow: 2px 4px #888888; */
  border-radius: 5px;
  float: right;
  color: black;
  cursor: pointer;
  opacity: 100%;
  display: grid;
}

.playlister-button:hover {
  cursor: pointer;
  color:black;
}

.playlister-button-disabled {
  opacity: 0.25; 
  /* cursor: not-allowed; */
}

#playlister-statusbar {
  /* grid-column: 1 / 3; */
  /* grid-row: 4 / 5; */
  background-color: var(--swatch-status);
  color: white;
  text-align: center;
  font-size: 38pt;
  padding-top: 11pt;
  border-radius: 10px;
  font-weight: bold;
}

.playlist-add-button {
  float: right;
  display: flex;
  padding: 5pt;
}

.playlist-song-selector {
  display: grid;
  font-size: 36pt;
  background-color: var(--swatch-accent);
  border-radius: 10px;
  grid-template-rows: 13% 77% 10%;
}

.playlist-song-selector-north {
  background-color: var(--swatch-heading);
  /* grid-column: 1 / 1;
  grid-row: 1 / 2; */
  /* border-color: black; */
  /* border-width: 2px; */
  /* border-style: solid; */
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.playlister-song-selector-heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  float: left;
  padding: 15pt;
  /* padding-top: 15pt; */
  /* padding-left: 5pt; */
  
}

.edit-toolbar {
  float: right;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 10pt;
  width: 25%;
  /* height: 100%; */
  grid-template-rows: 100%;
  /* margin-right: 5pt; */
}

#button-container {
  display: flex;
  align-items: center;
  /* margin-left: 3pt; */
  /* float: right; */
  /* width: 10%; */
}

.playlister-song-selector-button, .playlister-song-selector-button-disabled {
  /* grid-column: 1 / 2; */
  /* grid-row: 2 / 2; */
  font-size:36pt;
  border-width: 0px;
  text-align: center;
  /* border-color: black; */
  /* border-style: solid; */
  border-radius: 5px;
  color: black;
  cursor: pointer;
  opacity: 100%;
  width: 95%;
  height: 100%;
  /* margin-left: 5pt; */
  /* float: center; */
  /* position: absolute; */
  /* float: center; */
  /* padding: 5pt; */
}

.playlister-song-selector-button-disabled {
  /* grid-column: 1 / 2;
  grid-row: 2 / 2;
  font-size:36pt;
  border-width: 0px;
  /* border-color: black; */
  /* border-style: solid; */
  /* border-radius: 5px;
  color: black;
  cursor: auto;
  /* opacity: 50%;
  float: right;
  padding: 5pt; */
  opacity: 0.25;
  
}

.playlister-song-selector-button-disabled:hover {
  pointer-events: none;
}

.list-card, .selected-list-card, .unselected-list-card {
  font-size: 32pt;
  margin: 10px;
  padding: 20px;
  /* padding-bottom: 50pt; */
  border-radius: 25px;
  display: grid;
  grid-template-columns: 92% 4% 4%;
}

.song-card {
  /* display: grid; */
  grid-template-columns: 3% 92% 5%;
  /* padding-bottom: 60pt; */
}

.song-card-button {
  float:right;
  font-size: 30pt;
  border-radius: 5px;
  border-width: 0pt;
  text-align: center;
}

.song-link {
  padding: 5pt;
  float: left;
}

.song-number-text {
  padding: 5pt;
  float: left;
}

.list-card:aria-disabled,.list-card[aria-disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
  display: grid;
}

.unselected-list-card:hover {
  cursor: pointer;
  background-color: var(--swatch-contrast);
  color:white;
}

.selected-list-card {
  background-color: var(--swatch-accent);
  color: white;
}

.unselected-list-card {
  background-color: var(--swatch-complement);
}

.list-card-button {
  float:right;
  font-size:26pt;
  border-width: 0px;
  width: 95%;
  border-radius: 5px;
  display: flex;
  text-align: center;
}

.list-card-text {
  float:left;
}

input {
  font-size:26pt;
  border-radius:10pt;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 5pt;
  /* padding: 10px; */
}

.disabled {
  background-color: lightgray;
}

.disabled:hover {
  color: var(--swatch-neutral);
}

/* THIS STYLE SHEET MANAGES STYLE FOR OUR MODAL, i.e. DIALOG BOX */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  color: var(--swatch-text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  font-family: var(--font-primary);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  background: var(--swatch-complement);
  overflow: auto;
  cursor: default;
  border-width: 5px;
  border-radius: 10px;
  border-style: groove;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: dotted;
}

.modal-header,
.modal-close {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-control {
  cursor: pointer;
  width: 20%;
}

.dialog-header {
  font-size: 24pt;
}

#close-modal-button {
  float:right;
}

#confirm-cancel-container {
  text-align:center;
}

.modal-root {
  position: relative;
  max-width: 1200vw;
  max-height: 600vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
  background-color: var(--swatch-accent);
  cursor: default;
  /* border-width: 2px; */
  /* border-color: black; */
  /* border-style: solid; */
  /* box-shadow: 5px 10px #888888; */
  border-radius: 10pt;
  grid-template-rows: 10% 80% 10%;
}

/* .modal-root > * {
  padding: 1rem;
} */

.modal-north {
  font-size:32pt;
  font-weight: bold;
  background-color: var(--swatch-banner);
  color:white;
  border-radius: 5pt;
  padding: 10pt;
  height: 100%;
}

.modal-center {
  /* grid-template-columns: 30% 65%;
  grid-template-rows: 33% 33% 33%;
  gap: 10px 20px; */
  font-size: 48pt;
  display: grid;
  background-color: var(--swatch-accent);
  padding: 10pt;
}

span {
  font-weight: bold;
  /* font-style: italic; */
}

label {
  display: inline-block;
}

.modal-south {
  display:flex;
  flex-direction: row;
  background-color: var(--swatch-banner);
  align-items: center;
  justify-content: center;
  border-radius: 5pt;
  padding: 10pt;
}

.modal-center-content {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.edit-model-center {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
}

.edit-song-modal-text {
  /* display: inline-block; */
  text-align: left;
  /* padding-top: 15pt; */
  /* padding: 10pt; */
  /* background-color: var(--swatch-contrast); */
  border-radius: 5pt;
  /* height: 60%; */
  display: inline-block;
}

.edit-song-modal-input {
  /* position: relative; */
  /* top: 30pt; */
  /* padding: 12pt; */
  display: inline-block;
  /* align-self: center; */
  width: 90%;
  /* padding: 10pt; */
  font-size: 48 pt;
  /* border-radius: 50pt; */

}

.modal-prompt {  
  font-size:28pt;
  font-weight: bold;
}

.modal-textfield {
  font-size:28pt;
}

.modal-button {
  font-size: 20pt;
  border-width: 0px;
  /* border-color: black; */
  /* border-style: solid; */
  border-radius: 5px;
}

#title-prompt {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#edit-song-modal-title-textfield {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#artist-prompt {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#edit-song-modal-artist-textfield {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#you-tube-id-prompt {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#edit-song-modal-youTubeId-textfield {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.confirm-cancel-box {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button {
  margin:5px;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
